<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>C:/NEW_BOOTCAMP/Lambda/CIRRICULUMN/Lambda-Student-Resource-Site/WEEKS/3-misc/_SANDBOX/carbon/carbon-modules/carbon-components/src/components/data-table</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="4" class="header-row"><b>Folders</b></td></tr>
<tr><td><a href="../right.html" target="rframe">&lt;Go Back&gt;</a></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th></tr>
<tr><td><a href="data-table--row-header.hbs" target="_parent">data-tabl...er.hbs</a>&nbsp;</td><td><a href="migrate-to-10.x.md" target="_parent">migrate-to-10.x.md</a>&nbsp;</td><td><a href="_data-table-inline-edit-cell.scss" target="_parent">_data-tab...l.scss</a>&nbsp;</td><td><a href="_data-table-sort.scss" target="_parent">_data-tab...t.scss</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="data-table.hbs" target="_parent">data-table.hbs</a>&nbsp;</td><td><a href="_data-table-action.scss" target="_parent">_data-tab...n.scss</a>&nbsp;</td><td><a href="_data-table-inline-edit.scss" target="_parent">_data-tab...t.scss</a>&nbsp;</td><td><a href="_data-table.scss" target="_parent">_data-table.scss</a>&nbsp;</td></tr>
<tr><td><a href="data-table.js" target="_parent">data-table.js</a>&nbsp;</td><td><a href="_data-table-core.scss" target="_parent">_data-tab...e.scss</a>&nbsp;</td><td><a href="_data-table-skeleton.scss" target="_parent">_data-tab...n.scss</a>&nbsp;</td><td><a href="_mixins.scss" target="_parent">_mixins.scss</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="ARCHITECTURE.md" target="_parent">ARCHITECTURE.md</a>&nbsp;</td><td><a href="_data-table-expandable.scss" target="_parent">_data-tab...e.scss</a>&nbsp;</td><td></td><td></td></tr>
</table>

<p class="summary-style">
Folders:  1<br>
Files: 14<br>
Size of all files: 131855 KB</p>

</body>
</html>