body {
  border: 20px solid #00ced1;
  font-size: 20px;
  color: #2f4f4f;
}

div.container {
  width: 80%;
  margin: 0 auto;
}

h1 {
  color: #778899;
  text-align: center;
}

h1:hover {
  color: #bc8f8f;
}

div.info {
  background-color: #7fffd4;
  padding: 5%;
}

div.info:hover {
  background-color: #deb887;
}

.first-section {
  color: #00ced1;
  background-color: #2f4f4f;
  padding: 10%;
}

.first-section:hover {
  color: #ffa07a;
  background-color: #696969;
}

.second-section {
  line-height: 1.5;
  letter-spacing: 2px;
}

.second-section:hover {
  color: #ff8c00;
}

.second-section h2 {
  color: #778899;
  text-transform: uppercase;
}

.second-section h2:hover {
  color: #ff8c00;
  text-transform: capitalize;
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10% 0;
}

.gallery img:hover {
  border: 10px dotted #dc143c;
}
