<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>C:/NEW_BOOTCAMP/Lambda/CIRRICULUMN/Lambda-Student-Resource-Site/WEEKS/2-resources/CORE-CONTENT/__DATA-Structures/all-lang/website-main/website-main/components</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="4" class="header-row"><b>Folders</b></td></tr>
<tr><td><a href="../right.html" target="rframe">&lt;Go Back&gt;</a></td><td>&nbsp;<a href="footer/right.html" target="rframe">footer</a></td><td>&nbsp;<a href="langSelect/right.html" target="rframe">langSelect</a></td><td>&nbsp;<a href="navbar/right.html" target="rframe">navbar</a></td></tr>
<tr class="row2"><td><a href="algorithmsList/right.html" target="rframe">algorithmsList</a></td><td>&nbsp;<a href="icon/right.html" target="rframe">icon</a></td><td>&nbsp;<a href="languagesList/right.html" target="rframe">languagesList</a></td><td>&nbsp;<a href="searchBar/right.html" target="rframe">searchBar</a></td></tr>
<tr><td><a href="categoriesList/right.html" target="rframe">categoriesList</a></td><td>&nbsp;<a href="implementations/right.html" target="rframe">implementations</a></td><td>&nbsp;<a href="link/right.html" target="rframe">link</a></td><td>&nbsp;<a href="section/right.html" target="rframe">section</a></td></tr>
<tr class="row2"><td><a href="codePreview/right.html" target="rframe">codePreview</a></td><td>&nbsp;<a href="jumbo/right.html" target="rframe">jumbo</a></td><td></td><td></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th></tr>
<tr><td><a href="head.tsx" target="_parent">head.tsx</a>&nbsp;</td></tr>
</table>

<p class="summary-style">
Folders:  14<br>
Files: 1<br>
Size of all files: 290 KB</p>

</body>
</html>