<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>C:/Lambda/CIRRICULUMN/lambda-backup-2/Lambda-resource/3-misc/_SANDBOX/carbon/carbon-modules/carbon-components/src/components</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="4" class="header-row"><b>Folders</b></td></tr>
<tr><td><a href="../right.html" target="rframe">&lt;Go Back&gt;</a></td><td>&nbsp;<a href="dropdown/right.html" target="rframe">dropdown</a></td><td>&nbsp;<a href="number-input/right.html" target="rframe">number-input</a></td><td>&nbsp;<a href="tabs/right.html" target="rframe">tabs</a></td></tr>
<tr class="row2"><td><a href="accordion/right.html" target="rframe">accordion</a></td><td>&nbsp;<a href="file-uploader/right.html" target="rframe">file-uploader</a></td><td>&nbsp;<a href="overflow-menu/right.html" target="rframe">overflow-menu</a></td><td>&nbsp;<a href="tag/right.html" target="rframe">tag</a></td></tr>
<tr><td><a href="breadcrumb/right.html" target="rframe">breadcrumb</a></td><td>&nbsp;<a href="floating-menu/right.html" target="rframe">floating-menu</a></td><td>&nbsp;<a href="pagination/right.html" target="rframe">pagination</a></td><td>&nbsp;<a href="text-area/right.html" target="rframe">text-area</a></td></tr>
<tr class="row2"><td><a href="button/right.html" target="rframe">button</a></td><td>&nbsp;<a href="form/right.html" target="rframe">form</a></td><td>&nbsp;<a href="pagination-nav/right.html" target="rframe">pagination-nav</a></td><td>&nbsp;<a href="text-input/right.html" target="rframe">text-input</a></td></tr>
<tr><td><a href="checkbox/right.html" target="rframe">checkbox</a></td><td>&nbsp;<a href="grid/right.html" target="rframe">grid</a></td><td>&nbsp;<a href="popover/right.html" target="rframe">popover</a></td><td>&nbsp;<a href="tile/right.html" target="rframe">tile</a></td></tr>
<tr class="row2"><td><a href="code-snippet/right.html" target="rframe">code-snippet</a></td><td>&nbsp;<a href="inline-loading/right.html" target="rframe">inline-loading</a></td><td>&nbsp;<a href="progress-indicator/right.html" target="rframe">progress-indicator</a></td><td>&nbsp;<a href="time-picker/right.html" target="rframe">time-picker</a></td></tr>
<tr><td><a href="combo-box/right.html" target="rframe">combo-box</a></td><td>&nbsp;<a href="link/right.html" target="rframe">link</a></td><td>&nbsp;<a href="radio-button/right.html" target="rframe">radio-button</a></td><td>&nbsp;<a href="toggle/right.html" target="rframe">toggle</a></td></tr>
<tr class="row2"><td><a href="content-switcher/right.html" target="rframe">content-switcher</a></td><td>&nbsp;<a href="list/right.html" target="rframe">list</a></td><td>&nbsp;<a href="search/right.html" target="rframe">search</a></td><td>&nbsp;<a href="toolbar/right.html" target="rframe">toolbar</a></td></tr>
<tr><td><a href="context-menu/right.html" target="rframe">context-menu</a></td><td>&nbsp;<a href="list-box/right.html" target="rframe">list-box</a></td><td>&nbsp;<a href="select/right.html" target="rframe">select</a></td><td>&nbsp;<a href="tooltip/right.html" target="rframe">tooltip</a></td></tr>
<tr class="row2"><td><a href="copy-button/right.html" target="rframe">copy-button</a></td><td>&nbsp;<a href="loading/right.html" target="rframe">loading</a></td><td>&nbsp;<a href="skeleton/right.html" target="rframe">skeleton</a></td><td>&nbsp;<a href="treeview/right.html" target="rframe">treeview</a></td></tr>
<tr><td><a href="data-table/right.html" target="rframe">data-table</a></td><td>&nbsp;<a href="modal/right.html" target="rframe">modal</a></td><td>&nbsp;<a href="slider/right.html" target="rframe">slider</a></td><td>&nbsp;<a href="type/right.html" target="rframe">type</a></td></tr>
<tr class="row2"><td><a href="data-table-v2/right.html" target="rframe">data-table-v2</a></td><td>&nbsp;<a href="multi-select/right.html" target="rframe">multi-select</a></td><td>&nbsp;<a href="structured-list/right.html" target="rframe">structured-list</a></td><td>&nbsp;<a href="ui-shell/right.html" target="rframe">ui-shell</a></td></tr>
<tr><td><a href="date-picker/right.html" target="rframe">date-picker</a></td><td>&nbsp;<a href="notification/right.html" target="rframe">notification</a></td><td></td><td></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th></tr>
<tr><td><a href="removed-component.js" >removed-c...ent.js</a>&nbsp;</td></tr>
</table>

<p class="summary-style">
Folders:  50<br>
Files: 1<br>
Size of all files: 936 KB</p>

</body>
</html>