.all-users-container {
  padding: 1em;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  display: none;
}

#users-found {
  text-align: center;
  margin-top: 3em;
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  text-align: center;
  display: none;
}

.top-description {
  height: 80%;
  width: 100%;
  /* background: peru; */
  display: flex;
}

.bottom-description {
  font-family: "Quicksand", sans-serif;
  font-size: 0.9em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.user-short-info {
  padding-left: 1em;
}

.simple-user {
  padding: 0.8em;
  margin: 1em;
  height: 13em;
  width: 28em;
  flex-wrap: wrap;
  border-radius: 1em;
  background: rgba(255, 255, 255, 0.3);
}

.simple-user img {
  width: auto;
  height: 70%;
  border-radius: 0.5em;
  opacity: 0.9;
}

.simple-user h3 {
  color: black;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2em;
}

.simple-user h3 span {
  color: black;
  font-family: "Quicksand", sans-serif;
  font-size: 0.7em;
  padding-left: 0.3em;
}

@media only screen and (max-width: 450px) {
  .top-description {
    flex-direction: column;
  }
  .simple-user {
    margin: 0;
    margin-bottom: 1em;
    height: auto;
  }

  .simple-user img {
    width: 100%;
    height: auto;
    border-radius: 0.5em;
    opacity: 0.9;
  }
}
