{% extends 'base.html' %}

{% block content %}
<form action={{ url_for('.new_package')}} method="post">
    {{ form.csrf_token }}
    <div>
        {{ form.sender.label }} {{ form.sender }}
    </div>
    <div>
        {{ form.recipient.label }} {{ form.recipient }}
    </div>
    <div>
        {{ form.origin.label }} {{ form.origin }}
    </div>
    {% if not form.destination.errors %}
        <div>
            {{ form.destination.label }} {{ form.destination }}
        </div>
    {% endif %}
    <div>
        {{ form.express.label }} {{ form.express }}
    </div>
    <div>
        {{ form.submit }}
    </div>
</form>
{% endblock %}
