#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  text-align: left;
}


#facebox .popup{
  position:relative;
  border: 0;
  -webkit-box-shadow:0 0 24px rgba(0,0,0,0.6);
  -moz-box-shadow:0 0 24px rgba(0,0,0,0.6);
  box-shadow:0 0 24px rgba(0,0,0,0.6);
}

#facebox .content {
  display:table;
  width: 692px;
  padding: 0;
  background: #f7f6f4;
}

#facebox .content > p:first-child{
  margin-top:0;
}
#facebox .content > p:last-child{
  margin-bottom:0;
}

#facebox .close{
  position:absolute;
  top:5px;
  right:5px;
  padding:2px;
  background:#fff;
  text-indent: -99999em;
}
#facebox .close img{
  opacity:0.3;
}
#facebox .close:hover img{
  opacity:1.0;
}

#facebox .loading {
  background: #ffffff;
  text-align: center;
  width: 692px;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000509;
  z-index: 999;
}

