<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>C:/Lambda/CIRRICULUMN/lambda-backup-2/Lambda-resource/3-misc/_SANDBOX/carbon/carbon-modules/carbon-components/src/components/ui-shell</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="4" class="header-row"><b>Folders</b></td></tr>
<tr><td><a href="../right.html" target="rframe">&lt;Go Back&gt;</a></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th></tr>
<tr><td><a href="header-nav.hbs" >header-nav.hbs</a>&nbsp;</td><td><a href="side-nav.hbs" >side-nav.hbs</a>&nbsp;</td><td><a href="side-nav.js" >side-nav.js</a>&nbsp;</td><td><a href="_product-switcher.scss" >_product-...r.scss</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="header.hbs" >header.hbs</a>&nbsp;</td><td><a href="ui-shell.hbs" >ui-shell.hbs</a>&nbsp;</td><td><a href="_content.scss" >_content.scss</a>&nbsp;</td><td><a href="_side-nav.scss" >_side-nav.scss</a>&nbsp;</td></tr>
<tr><td><a href="navigation-menu.hbs" >navigatio...nu.hbs</a>&nbsp;</td><td><a href="header-nav.js" >header-nav.js</a>&nbsp;</td><td><a href="_functions.scss" >_functions.scss</a>&nbsp;</td><td><a href="_switcher.scss" >_switcher.scss</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="product-switcher.hbs" >product-s...er.hbs</a>&nbsp;</td><td><a href="header-submenu.js" >header-submenu.js</a>&nbsp;</td><td><a href="_header-panel.scss" >_header-panel.scss</a>&nbsp;</td><td><a href="_theme.scss" >_theme.scss</a>&nbsp;</td></tr>
<tr><td><a href="side-nav-fixed.hbs" >side-nav-fixed.hbs</a>&nbsp;</td><td><a href="navigation-menu-panel.js" >navigatio...nel.js</a>&nbsp;</td><td><a href="_header.scss" >_header.scss</a>&nbsp;</td><td><a href="_ui-shell.scss" >_ui-shell.scss</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="side-nav-footer.hbs" >side-nav-...er.hbs</a>&nbsp;</td><td><a href="navigation-menu.js" >navigation-menu.js</a>&nbsp;</td><td><a href="_navigation-menu.scss" >_navigati...u.scss</a>&nbsp;</td><td><a href="_variables.scss" >_variables.scss</a>&nbsp;</td></tr>
<tr><td><a href="side-nav-header.hbs" >side-nav-...er.hbs</a>&nbsp;</td><td><a href="product-switcher.js" >product-s...her.js</a>&nbsp;</td><td></td><td></td></tr>
</table>

<p class="summary-style">
Folders:  1<br>
Files: 26<br>
Size of all files: 126605 KB</p>

</body>
</html>