/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

nav {
  top: 0;
  width: 100%;
  height: 5em;
  background-color: white;
  box-shadow: 0 2px 30px -5px rgba(0, 0, 0, 0.25);
  padding: 1em 0 0 8em;
  box-sizing: border-box;
  position: fixed;
  margin-bottom: 2em;
  z-index: 5;
}

.logo {
  margin-left: 6em;
  vertical-align: text-bottom;
}

nav a {
  margin: 0 3em;
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
}

nav a:hover {
  text-decoration: underline;
  color: #9fe0ac;
}

hr {
  border: 2px solid #9fe0ac;
}

.services-header-img {
  width: 100%;
  height: auto;
}

#intro-sec {
  margin: 2em 0;
  text-align: center;
}

.page-title {
  font-size: 3em;
}

.sub-title {
  font-size: 1.3em;
  font-family: "DM Serif Display", serif;
}

.main {
  margin: 0 15em;
}

.button {
  border: 2px solid black;
  padding: 0.3em 3em;
  color: black;
  text-decoration: none;
  margin: 0.8em;
}

.button:hover {
  border: 2px solid;
  color: white;
  background-color: #9fe0ac;
}

.box {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  margin: 1em 1.5em;
  padding: 1em;
  max-width: 40%;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  border: 0.5px solid rgba(0, 0, 0, 1);
}

.box:hover {
  -webkit-transform: scale(1.15, 1.15);
  transform: scale(1.15, 1.15);
  opacity: 1;
}

.body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1em;
  justify-content: center;
  align-items: center;
}

.second-sec {
  margin: 2em 0;
  display: flex;
}

.inner-content {
  padding: 0 2em;
}

.inner-content h1 {
  text-align: center;
}

.second-sec img {
  border-radius: 2em;
}

ul {
  padding: 1em;
}

footer {
  text-align: center;
  margin: 2em;
}
