/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

nav {
  top: 0;
  width: 100%;
  height: 5em;
  background-color: white;
  box-shadow: 0 2px 30px -5px rgba(0, 0, 0, 0.25);
  position: fixed;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: center;
  clip-path: ellipse(100% 100% at 50% 0%);
  background-color: #9fe0ac;
}

.links {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  height: 3em;
  align-items: center;
  list-style: none;
}

.links a {
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
}

.links a:hover {
  text-decoration: underline;
}

hr {
  border: 2px solid #9fe0ac;
}

.services-header-img {
  width: 100%;
  margin-top: 4em;
  height: auto;
}

#intro-sec {
  margin: 2em 0;
  text-align: center;
}

.page-title {
  font-size: 3em;
}

.sub-title {
  font-size: 1.3em;
  font-family: "DM Serif Display", serif;
}

.main {
  margin: 0 15em;
}

.button {
  border: 2px solid black;
  padding: 0.3em 3em;
  color: black;
  text-decoration: none;
  margin: 0.8em;
}

.button:hover {
  border: 2px solid;
  color: white;
  background-color: #9fe0ac;
}

.box {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  margin: 1em 1.5em;
  padding: 1em;
  max-width: 40%;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  border: 0.5px solid rgba(0, 0, 0, 1);
}

.box:hover {
  -webkit-transform: scale(1.15, 1.15);
  transform: scale(1.15, 1.15);
}

.body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1em;
  justify-content: center;
  align-items: center;
}

.second-sec {
  margin: 2em 0;
  display: flex;
}

.inner-content {
  padding: 0 2em;
}

.inner-content h1 {
  text-align: center;
}

.second-sec img {
  border-radius: 2em;
}

.inner-content ul {
  padding: 1em;
}

.services-info-img {
  height: 100%;
  width: auto;
}

footer {
  text-align: center;
  margin: 2em;
}

.show {
  display: flex !important;
}

.toggle-bars {
  position: absolute;
  top: 8px;
  right: 30px;
  cursor: pointer;
  display: none;
}

.toggle-bars .bar {
  width: 27px;
  background-color: #000000;
  margin: 5px 0;
  height: 2px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

@media only screen and (max-width: 1100px) {
  .main {
    margin: 0 3em;
  }

  .body {
    padding: 0;
  }

  .box {
    max-width: 100%;
  }

  .services-header-img {
    margin-top: 7em;
  }

  nav {
    height: 8em;
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }

  .second-sec {
    flex-direction: column;
  }

  .button {
    padding: 0.3em auto;
  }

  .links {
    width: 100%;
  }
  .services-info-img {
    height: auto;
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .main {
    margin: 0 2em;
  }

  .services-header-img {
    margin-top: 6em;
  }

  .links {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 80%;
  }

  .toggle-bars {
    display: inline;
    margin-top: 30px;
  }

  .logo {
    margin: 2em 0;
  }

  nav {
    height: auto;
    min-height: 3em;
    justify-content: space-evenly;
  }

  .links {
    display: none;
  }

  .links li {
    margin: 1.7em;
  }

  .button {
    padding: 0.3em 7em;
    margin: 2em;
  }

  .sub-title {
    font-size: 1.3em;
  }

  .main section {
    flex-direction: column;
  }

  .box {
    max-width: 90%;
  }
}
