<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>C:/Lambda/CIRRICULUMN/Lambda-Student-Resource-Site/5-websites/opensource.microsoft.com-main/_includes</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="4" class="header-row"><b>Folders</b></td></tr>
<tr><td><a href="../right.html" target="rframe">&lt;Go Back&gt;</a></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th></tr>
<tr><td><a href="activity.html" >activity.html</a>&nbsp;</td><td><a href="open-source-svg-ft.html" >open-sour...t.html</a>&nbsp;</td><td><a href="program-overview.html" >program-o...w.html</a>&nbsp;</td><td><a href="subscribe.html" >subscribe.html</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="footer.html" >footer.html</a>&nbsp;</td><td><a href="open-source-svg.html" >open-sour...g.html</a>&nbsp;</td><td><a href="program-releasing.html" >program-r...g.html</a>&nbsp;</td><td><a href="upstream-contribution.html" >upstream-...n.html</a>&nbsp;</td></tr>
<tr><td><a href="good-first-issue.html" >good-firs...e.html</a>&nbsp;</td><td><a href="production-telemetry-head.html" >productio...d.html</a>&nbsp;</td><td><a href="program-supporting.html" >program-s...g.html</a>&nbsp;</td><td><a href="collaborate.js" >collaborate.js</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="header.html" >header.html</a>&nbsp;</td><td><a href="production-telemetry-script.html" >productio...t.html</a>&nbsp;</td><td><a href="program-tools.html" >program-tools.html</a>&nbsp;</td><td><a href="homepage.js" >homepage.js</a>&nbsp;</td></tr>
<tr><td><a href="help-wanted-issue.html" >help-want...e.html</a>&nbsp;</td><td><a href="production-telemetry.html" >productio...y.html</a>&nbsp;</td><td><a href="program-using.html" >program-using.html</a>&nbsp;</td><td><a href="upstream-contributions.js" >upstream-...ons.js</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="octicons.html" >octicons.html</a>&nbsp;</td><td><a href="program-contributing.html" >program-c...g.html</a>&nbsp;</td><td><a href="project.html" >project.html</a>&nbsp;</td><td></td></tr>
</table>

<p class="summary-style">
Folders:  1<br>
Files: 23<br>
Size of all files: 159947 KB</p>

</body>
</html>