<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>C:/NEW_BOOTCAMP/Lambda/CIRRICULUMN/Lambda-Student-Resource-Site/WEEKS/5-websites/opensource.microsoft.com-main/_includes</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="4" class="header-row"><b>Folders</b></td></tr>
<tr><td><a href="../right.html" target="rframe">&lt;Go Back&gt;</a></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th></tr>
<tr><td><a href="activity.html" target="_parent">activity.html</a>&nbsp;</td><td><a href="open-source-svg-ft.html" target="_parent">open-sour...t.html</a>&nbsp;</td><td><a href="program-overview.html" target="_parent">program-o...w.html</a>&nbsp;</td><td><a href="subscribe.html" target="_parent">subscribe.html</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="footer.html" target="_parent">footer.html</a>&nbsp;</td><td><a href="open-source-svg.html" target="_parent">open-sour...g.html</a>&nbsp;</td><td><a href="program-releasing.html" target="_parent">program-r...g.html</a>&nbsp;</td><td><a href="upstream-contribution.html" target="_parent">upstream-...n.html</a>&nbsp;</td></tr>
<tr><td><a href="good-first-issue.html" target="_parent">good-firs...e.html</a>&nbsp;</td><td><a href="production-telemetry-head.html" target="_parent">productio...d.html</a>&nbsp;</td><td><a href="program-supporting.html" target="_parent">program-s...g.html</a>&nbsp;</td><td><a href="collaborate.js" target="_parent">collaborate.js</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="header.html" target="_parent">header.html</a>&nbsp;</td><td><a href="production-telemetry-script.html" target="_parent">productio...t.html</a>&nbsp;</td><td><a href="program-tools.html" target="_parent">program-tools.html</a>&nbsp;</td><td><a href="homepage.js" target="_parent">homepage.js</a>&nbsp;</td></tr>
<tr><td><a href="help-wanted-issue.html" target="_parent">help-want...e.html</a>&nbsp;</td><td><a href="production-telemetry.html" target="_parent">productio...y.html</a>&nbsp;</td><td><a href="program-using.html" target="_parent">program-using.html</a>&nbsp;</td><td><a href="upstream-contributions.js" target="_parent">upstream-...ons.js</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="octicons.html" target="_parent">octicons.html</a>&nbsp;</td><td><a href="program-contributing.html" target="_parent">program-c...g.html</a>&nbsp;</td><td><a href="project.html" target="_parent">project.html</a>&nbsp;</td><td></td></tr>
</table>

<p class="summary-style">
Folders:  1<br>
Files: 23<br>
Size of all files: 156949 KB</p>

</body>
</html>