.nav-logo {
  height:60px;
  background: none !important;
  svg {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    &:hover {
      color: #1E4E8C;
    }
  }
}

.project-card {
  width: 100%;
  margin: 10px 0;
  img {
    margin-right: 20px;
  }
}

.header-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}