body {
  background: blue;
}

a {
  color: white;
}

p {
  text-decoration: underline;
}

.tag_type_class {
  background: pink;
}

.size {
  font-size: 50px;
}

.first_div {
  font-size: 28px;
  background: yellow;
}
