/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

/* img {
  width: 100%;
  height: auto;
} */

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* ************************************* */

nav {
  top: 0;
  width: 100%;
  height: 5em;
  background-color: white;
  box-shadow: 0 2px 30px -5px rgba(0, 0, 0, 0.25);
  position: fixed;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  clip-path: ellipse(100% 100% at 50% 0%);
  background-color: #9fe0ac;
}

.links {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  height: 3em;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
}

.links a:hover {
  text-decoration: underline;
}

.main {
  margin: 0 15em;
}

.first-section {
  margin: 8em 2em 7em 2em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* max-width: 100%; */
  justify-content: center;
}

#main-title {
  padding-top: 0.5em;
  font-size: 5em;
  margin-bottom: 0.5em;
  text-shadow: 5px 0 0 #9fe0ac;
  letter-spacing: 0.2em;
}

.button {
  border: 2px solid black;
  color: black;
  text-decoration: none;
  padding: 0.7em 8em;
}

.button:hover {
  border: 2px solid;
  color: white;
  background-color: #9fe0ac;
}

#inner-div {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-section img {
  /* box-shadow: 0 15px 40px 15px rgba(0, 0, 0, 0.35); */
  border-radius: 50%;
  border: 5px solid #9fe0ac;
  margin-top: 1em;
}

hr {
  border: 2px solid #9fe0ac;
}

.main section {
  height: 50%;
  width: 100%;
  text-align: center;
  line-height: 1.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

section div {
  margin: 2em 0.5em;
  min-width: 15%;
}

.page-title {
  font-size: 2em;
}

.sub-title {
  font-size: 1.5em;
  font-family: "DM Serif Display", serif;
}

.image {
  display: flex;
  align-content: center;
  justify-content: center;
  max-width: 100%;
  height: auto;
}

img {
  max-width: 100%;
}

footer {
  line-height: 1.5em;
}

#Copyright {
  text-align: center;
  margin: 1em;
}

#phone {
  line-height: 2.5em;
}

.show {
  display: flex !important;
}

.toggle-bars {
  position: absolute;
  top: 8px;
  right: 30px;
  cursor: pointer;
  display: none;
}
.toggle-bars .bar {
  width: 27px;
  background-color: #000000;
  margin: 5px 0;
  height: 2px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

@media only screen and (max-width: 800px) {
  .main {
    margin: 0 3em;
  }

  #main-title {
    font-size: 4em;
  }

  .first-section {
    margin: 10em 0 3em 0;
    flex-direction: column;
  }

  .first-section img {
    display: none;
  }

  nav {
    height: 8em;
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }

  .button {
    padding: 0.3em 7em;
  }

  .links {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .main {
    margin: 0 2em;
  }
  .links {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 80%;
  }

  .toggle-bars {
    display: inline;
    margin-top: 30px;
  }

  .logo {
    margin: 2em 0;
  }

  nav {
    height: auto;
    min-height: 3em;
    justify-content: space-evenly;
  }

  .links {
    display: none;
  }

  .links li {
    margin: 1.7em;
  }

  #main-title {
    font-size: 3em;
  }

  .button {
    padding: 0.3em 7em;
    margin: 2em;
  }

  .first-section {
    margin-top: 7em;
  }

  .sub-title {
    font-size: 1.3em;
  }

  .main section {
    flex-direction: column;
  }

  section div:nth-child(1) {
    text-align: left;
  }

  section div:nth-child(2) {
    text-align: right;
  }

  section div:nth-child(3) {
    text-align: left;
  }
}
