<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>C:/Lambda/CIRRICULUMN/lambda-backup-2/Lambda-resource/2-resources/_External-learning-resources/netlify-functions/src/_includes/partials</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="4" class="header-row"><b>Folders</b></td></tr>
<tr><td><a href="../right.html" target="rframe">&lt;Go Back&gt;</a></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th></tr>
<tr><td><a href="analytics.njk" target="_parent">analytics.njk</a>&nbsp;</td><td><a href="favicons.njk" target="_parent">favicons.njk</a>&nbsp;</td><td><a href="navigation-secondary.njk" target="_parent">navigatio...ry.njk</a>&nbsp;</td><td><a href="search.njk" target="_parent">search.njk</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="card.njk" target="_parent">card.njk</a>&nbsp;</td><td><a href="form.njk" target="_parent">form.njk</a>&nbsp;</td><td><a href="navigation-tags.njk" target="_parent">navigatio...gs.njk</a>&nbsp;</td><td><a href="sidebar.njk" target="_parent">sidebar.njk</a>&nbsp;</td></tr>
<tr><td><a href="examples.njk" target="_parent">examples.njk</a>&nbsp;</td><td><a href="icon.njk" target="_parent">icon.njk</a>&nbsp;</td><td><a href="navigation.njk" target="_parent">navigation.njk</a>&nbsp;</td><td><a href="icons.svg" target="_parent">icons.svg</a>&nbsp;</td></tr>
</table>

<p class="summary-style">
Folders:  1<br>
Files: 12<br>
Size of all files: 12228 KB</p>

</body>
</html>