/* Step Two: quickly walk through the CSS, we will be coming back to it in a moment.*/
* {
  box-sizing: border-box;
}

.container {
  background: #e62739;
  width: 100%;
  max-width: 750px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: white;
  box-shadow: 0px 1px 6px -2px grey;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.entry {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dog-card {
  background: #99f3eb;
  color: black;
  width: 200px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  margin: 8px;
}

.dog-card.selected {
  box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.1);
  transform: translatey(-2px) scale(1.05);
  transition: all 0.1s ease-in-out;
}

.dog-image {
  width: 200px;
  height: 200px;
  object-fit: scale;
  flex-shrink: 2;
}
