<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>C:/NEW_BOOTCAMP/Lambda/CIRRICULUMN/Lambda-Student-Resource-Site/WEEKS/5-websites/developer.chrome.com-main/site/_includes/macros</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="4" class="header-row"><b>Folders</b></td></tr>
<tr><td><a href="../right.html" target="rframe">&lt;Go Back&gt;</a></td><td>&nbsp;<a href="cards/right.html" target="rframe">cards</a></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th></tr>
<tr><td><a href="card-authors.njk" target="_parent">card-authors.njk</a>&nbsp;</td><td><a href="post-author.njk" target="_parent">post-author.njk</a>&nbsp;</td><td><a href="project-sections.njk" target="_parent">project-s...ns.njk</a>&nbsp;</td><td><a href="render-type.njk" target="_parent">render-type.njk</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="icon.njk" target="_parent">icon.njk</a>&nbsp;</td><td><a href="project-icon.njk" target="_parent">project-icon.njk</a>&nbsp;</td><td><a href="reference.njk" target="_parent">reference.njk</a>&nbsp;</td><td><a href="tag.njk" target="_parent">tag.njk</a>&nbsp;</td></tr>
<tr><td><a href="navigation-tree-sections.njk" target="_parent">navigatio...ns.njk</a>&nbsp;</td><td></td><td></td><td></td></tr>
</table>

<p class="summary-style">
Folders:  2<br>
Files: 9<br>
Size of all files: 21889 KB</p>

</body>
</html>