.App {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  
  #pokeList {
    overflow-x:scroll;
  }
  
  #pokeList {
  
    height:700px;
    overflow:scroll;
  }
  .pokemon {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
    background-image: linear-gradient(lightyellow, #faf54e);
    border-radius: 4px;
    height: 200px;
    margin: 8px;
    padding: 16px;
    width: 120px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  
    img {
      height: 80px;
      width: 80px;
    }
  }
    