<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>C:/NEW_BOOTCAMP/Lambda/CIRRICULUMN/Lambda-Student-Resource-Site/WEEKS/5-websites/developer.chrome.com-main/site/_includes/icons</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="4" class="header-row"><b>Folders</b></td></tr>
<tr><td><a href="../right.html" target="rframe">&lt;Go Back&gt;</a></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th></tr>
<tr><td><a href="README.md" target="_parent">README.md</a>&nbsp;</td><td><a href="code.svg" target="_parent">code.svg</a>&nbsp;</td><td><a href="home-active.svg" target="_parent">home-active.svg</a>&nbsp;</td><td><a href="logo.svg" target="_parent">logo.svg</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="arrow-back.svg" target="_parent">arrow-back.svg</a>&nbsp;</td><td><a href="docs-active.svg" target="_parent">docs-active.svg</a>&nbsp;</td><td><a href="home.svg" target="_parent">home.svg</a>&nbsp;</td><td><a href="question.svg" target="_parent">question.svg</a>&nbsp;</td></tr>
<tr><td><a href="arrow-forward.svg" target="_parent">arrow-forward.svg</a>&nbsp;</td><td><a href="docs.svg" target="_parent">docs.svg</a>&nbsp;</td><td><a href="ink-highlighter.svg" target="_parent">ink-highl...er.svg</a>&nbsp;</td><td><a href="releases-active.svg" target="_parent">releases-...ve.svg</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="arrow-right.svg" target="_parent">arrow-right.svg</a>&nbsp;</td><td><a href="document.svg" target="_parent">document.svg</a>&nbsp;</td><td><a href="keyboard-arrow-left.svg" target="_parent">keyboard-...ft.svg</a>&nbsp;</td><td><a href="releases.svg" target="_parent">releases.svg</a>&nbsp;</td></tr>
<tr><td><a href="blog-active.svg" target="_parent">blog-active.svg</a>&nbsp;</td><td><a href="done.svg" target="_parent">done.svg</a>&nbsp;</td><td><a href="keyboard-arrow-right.svg" target="_parent">keyboard-...ht.svg</a>&nbsp;</td><td><a href="search.svg" target="_parent">search.svg</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="blog.svg" target="_parent">blog.svg</a>&nbsp;</td><td><a href="error.svg" target="_parent">error.svg</a>&nbsp;</td><td><a href="keyboard-arrow-up.svg" target="_parent">keyboard-...up.svg</a>&nbsp;</td><td><a href="twitter.svg" target="_parent">twitter.svg</a>&nbsp;</td></tr>
<tr><td><a href="chrome-filled.svg" target="_parent">chrome-filled.svg</a>&nbsp;</td><td><a href="external-link.svg" target="_parent">external-link.svg</a>&nbsp;</td><td><a href="lightbulb-outline.svg" target="_parent">lightbulb...ne.svg</a>&nbsp;</td><td><a href="warning.svg" target="_parent">warning.svg</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="close.svg" target="_parent">close.svg</a>&nbsp;</td><td><a href="hamburger.svg" target="_parent">hamburger.svg</a>&nbsp;</td><td><a href="logo-lockup.svg" target="_parent">logo-lockup.svg</a>&nbsp;</td><td><a href="youtube.svg" target="_parent">youtube.svg</a>&nbsp;</td></tr>
</table>

<p class="summary-style">
Folders:  1<br>
Files: 32<br>
Size of all files: 20532 KB</p>

</body>
</html>