nav {
  top: 0;
  width: 100%;
  height: 4em;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  z-index: 10;
  background: url("../images/nav.png");
  background-attachment: fixed;
  background-size: 100%;
}
nav h1 {
  color: white;
  font-size: 1.7em;
  padding-left: 1.5em;
  font-family: "Darker Grotesque", sans-serif;
}
@media (max-width: 900px) {
  nav h1 {
    padding: 0;
    font-size: 2em;
  }
}
nav .links {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  list-style: none;
  flex-wrap: wrap;
}
nav .links a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-weight: 600;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 0.25em;
}
nav .links a:hover {
  text-decoration: underline;
}
@media (max-width: 900px) {
  nav .links {
    width: 100%;
  }
}
@media (max-width: 900px) {
  nav {
    height: 5.5em;
    background: #656691;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media (max-width: 434px) {
}
header {
  width: 100%;
  user-select: none;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
header img {
  height: 100%;
  width: 100%;
}
@media (max-width: 900px) {
  header img {
    display: none;
  }
}
@media (max-width: 1296px) {
  header {
    position: relative;
    top: 1.5em;
  }
}
@media (max-width: 900px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35em;
    position: relative;
    bottom: -5em;
    top: 0;
  }
}
@media (max-width: 739px) {
  header {
    display: flex;
    flex-direction: column;
  }
}
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 35%;
  height: auto;
  text-align: center;
  align-items: center;
  line-height: 3em;
  letter-spacing: 0.1em;
  margin-left: 5em;
  position: absolute;
}
.header-container h1 {
  font-size: 3.1em;
  color: #656691;
  line-height: 1em;
  letter-spacing: 0;
  font-family: "Great Vibes", cursive;
  font-family: "Darker Grotesque", sans-serif;
  font-family: "Playfair Display", serif;
  margin-bottom: 0.2em;
}
@media (max-width: 1110px) {
  .header-container h1 {
    font-size: 2.2em;
  }
}
@media (max-width: 900px) {
  .header-container h1 {
    font-size: 3.5em;
  }
}
@media (max-width: 500px) {
  .header-container h1 {
    font-size: 3em;
  }
}
@media (max-width: 296px) {
  .header-container h1 {
    font-size: 2.5em;
  }
}
.header-container h3 {
  color: #a097b4;
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 1em;
}
@media (max-width: 739px) {
  .header-container h3 {
    margin-bottom: 0.5em;
  }
}
@media (max-width: 434px) {
  .header-container h3 {
    font-size: 1em;
  }
}
.header-container .button {
  width: 15em;
  text-decoration: none;
  background-color: #656691;
  color: white;
  line-height: 3em;
  transition: 0.15s all ease-in-out;
  border-radius: 10em;
}
.header-container .button:hover {
  color: #656691;
  background-color: white;
  box-shadow: inset 0px 0px 0px 2px #656691;
}
@media (max-width: 1110px) {
  .header-container {
    width: 40%;
    margin-left: 2.5em;
    line-height: 3em;
  }
}
@media (max-width: 900px) {
  .header-container {
    width: 90%;
    margin: 0;
  }
}
@media (max-width: 434px) {
  .header-container {
    height: 7em;
  }
}
.divider {
  position: relative;
  background-color: white;
}
.for-divider {
  display: flex;
  flex-direction: column;
}
.first-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3em;
  padding-top: 3em;
  justify-content: space-between;
  height: auto;
  line-height: 2.2em;
  width: 100%;
  color: #5f0505;
  background-image: linear-gradient(to top, #dec5cd, #cdb2c4, #b4a0bf, #9192bb);
  background-size: cover;
  background-color: #9192bb;
  background-repeat: no-repeat;
  flex-wrap: wrap;
}
.first-container .testimonial-box {
  width: 32%;
  height: 24em;
  border-radius: 0.5em;
  background-color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
}
.first-container .testimonial-box .text-testimonial {
  height: 100%;
  z-index: 1;
  position: relative;
  padding: 2em;
  padding-top: 5.6em;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0 80%);
  background-color: rgba(255, 255, 255, 0.85);
  margin: 0.3em;
}
@media (max-width: 397px) {
  .first-container .testimonial-box .text-testimonial {
    padding: 1em;
    padding-top: 5.6em;
  }
}
.first-container .testimonial-box .hidden {
  display: flex;
  justify-content: center;
  align-content: center;
}
.first-container .testimonial-box .hidden .person {
  z-index: 5;
  position: relative;
  display: flex;
  align-self: center;
  justify-content: center;
  position: absolute;
  border: 13px solid #9192bb;
  height: 12em;
  width: auto;
  border-radius: 50em;
}
@media (max-width: 1200px) {
  .first-container .testimonial-box {
    height: 29em;
  }
}
@media (max-width: 1030px) {
  .first-container .testimonial-box {
    margin-bottom: 9em;
    width: 60%;
    height: 22em;
  }
}
@media (max-width: 750px) {
  .first-container .testimonial-box {
    height: 22em;
    width: 95%;
  }
}
@media (max-width: 397px) {
  .first-container .testimonial-box {
    height: 30em;
  }
}
@media (max-width: 1030px) {
  .first-container {
    padding-bottom: 0;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .first-container {
    padding-left: 0;
    padding-right: 0;
  }
}
.second-container {
  height: auto;
  width: 100%;
  background-color: #f4e4e9;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1.5em solid #dec5cd;
  border-right: 1.5em solid #dec5cd;
}
@media (max-width: 800px) {
  .second-container {
    border-left: 0.5em solid #dec5cd;
    border-right: 0.5em solid #dec5cd;
  }
}
.second-container .about-outer {
  height: auto;
  width: 92%;
  display: flex;
}
@media (max-width: 1300px) {
  .second-container .about-outer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.second-container .about-outer img {
  height: auto;
  width: 70%;
  padding-bottom: 6em;
}
@media (max-width: 1300px) {
  .second-container .about-outer img {
    width: 68%;
  }
}
@media (max-width: 754px) {
  .second-container .about-outer img {
    width: 100%;
    padding-bottom: 3em;
  }
}
.second-container .about-outer .about-text {
  height: auto;
  width: 90%;
  text-align: center;
  letter-spacing: 0.15em;
  line-height: 2em;
  padding: 3em;
  padding-top: 1.5em;
  padding-bottom: 5em;
  font-size: 0.95em;
}
@media (max-width: 754px) {
  .second-container .about-outer .about-text {
    padding: 0;
    padding-bottom: 5em;
  }
}
.second-container .about-outer .about-text h3 {
  font-size: 1.2em;
  margin-bottom: 1em;
  font-family: "Playfair Display", serif;
  color: #5f0505;
  font-weight: 600;
}
@media (max-width: 754px) {
  .second-container .about-outer .about-text h3 {
    text-align: center;
  }
}
.second-container .about-outer .about-text h3:nth-child(1) {
  text-align: left;
  padding-left: 6em;
}
@media (max-width: 754px) {
  .second-container .about-outer .about-text h3:nth-child(1) {
    text-align: center;
    padding: 0;
  }
}
.second-container .about-outer .about-text h3:nth-child(3) {
  text-align: right;
  padding-right: 6em;
}
@media (max-width: 754px) {
  .second-container .about-outer .about-text h3:nth-child(3) {
    text-align: center;
    padding: 0;
  }
}
.second-container .about-outer .about-text p:nth-child(2) {
  padding-bottom: 3em;
}
.third-container {
  height: 50vh;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background: url("../images/top-curve.svg");
  background-size: cover;
  background-color: #9192bb;
  background-repeat: no-repeat;
  background-position: top;
}
.third-container h2 {
  font-size: 1.8em;
  letter-spacing: 0.1em;
  font-family: "Darker Grotesque", sans-serif;
  margin-bottom: 1.5em;
}
.third-container .button {
  line-height: 3em;
  transition: 0.15s all ease-in-out;
  border-radius: 10em;
  color: white;
  text-decoration: none;
  text-align: center;
  background-color: #656691;
  padding: 0.2em 3em;
  font-size: 0.9em;
}
.third-container .button:hover {
  background-color: #f34a2c;
  color: white;
}
.forth-container {
  height: 30em;
  width: 100%;
  background: #f6f7f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forth-container h2 {
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin-bottom: 1em;
  color: #656691;
  font-family: "Playfair Display", serif;
}
.sect-title {
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #656691;
  font-family: "Playfair Display", serif;
}
.inner-container {
  margin: 1.3em;
  width: 40em;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.inner-container .inputs {
  width: 100%;
  height: auto;
}
.inner-container .inputs p {
  width: 100%;
  height: 2.7em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inner-container .inputs p input {
  width: 48%;
  height: 100%;
  padding-left: 1.5em;
}
.inner-container .title {
  text-align: center;
  font-size: 1.6em;
}
.inner-container ::placeholder {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.5em;
  color: #616161;
}
.inner-container form input {
  z-index: 2;
  height: 2em;
  border: 0.9px solid #9bb8c4;
}
.inner-container form textarea {
  margin-top: 2.5em;
  width: 100%;
  border: 0.9px solid #9bb8c4;
  height: 15em;
  resize: none;
  padding: 1em 1.2em;
}
.inner-container input#submit {
  float: right;
  font-size: 0.8em;
  border-radius: 1.9em;
  margin: 2em;
  letter-spacing: 0.15em;
  width: 12em;
  height: 2.7em;
  transition: all 0.2s;
  background: #656691;
  border: none;
  color: white;
}
.inner-container input#submit:hover {
  color: white;
  background-color: #f34a2c;
}
.inner-container form p input:focus {
  outline: none;
  border: 1.5px solid #517e92;
}
.inner-container form textarea:focus {
  outline: none;
  border: 1.5px solid #517e92;
}
@media (max-width: 650px) {
  .inner-container {
    width: 100%;
    padding: 1em;
  }
}
footer {
  background: url("../images/nav.png");
  background-size: 100%;
  height: 4em;
  font-weight: 1000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 0.1em;
  color: white;
  font-size: 1em;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Quicksand", sans-serif;
  background-color: #9192bb;
}
body {
  height: auto;
}
.tall-font {
  font-family: "Open Sans Condensed", sans-serif;
}
.centered-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
