<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>C:/NEW_BOOTCAMP/Lambda/CIRRICULUMN/Lambda-Student-Resource-Site/WEEKS/2-misc/_SANDBOX/carbon/carbon-modules/carbon-components/scss/components/ui-shell</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="4" class="header-row"><b>Folders</b></td></tr>
<tr><td><a href="../right.html" target="rframe">&lt;Go Back&gt;</a></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th></tr>
<tr><td><a href="_content.scss" target="_parent">_content.scss</a>&nbsp;</td><td><a href="_header.scss" target="_parent">_header.scss</a>&nbsp;</td><td><a href="_side-nav.scss" target="_parent">_side-nav.scss</a>&nbsp;</td><td><a href="_ui-shell.scss" target="_parent">_ui-shell.scss</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="_functions.scss" target="_parent">_functions.scss</a>&nbsp;</td><td><a href="_navigation-menu.scss" target="_parent">_navigati...u.scss</a>&nbsp;</td><td><a href="_switcher.scss" target="_parent">_switcher.scss</a>&nbsp;</td><td><a href="_variables.scss" target="_parent">_variables.scss</a>&nbsp;</td></tr>
<tr><td><a href="_header-panel.scss" target="_parent">_header-panel.scss</a>&nbsp;</td><td><a href="_product-switcher.scss" target="_parent">_product-...r.scss</a>&nbsp;</td><td><a href="_theme.scss" target="_parent">_theme.scss</a>&nbsp;</td><td></td></tr>
</table>

<p class="summary-style">
Folders:  1<br>
Files: 11<br>
Size of all files: 50416 KB</p>

</body>
</html>