body {
  background-image: linear-gradient(
    to right top,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
  background: #888788;
  background-repeat: no-repeat;
  height: 97.7vh;
  width: 99%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  overflow: hidden;
  /* background: white; */
  font-family: "Open Sans Condensed", sans-serif;
  height: auto;
  width: 355px;
  border-left: solid 70px transparent;
  border-right: solid 70px transparent;
  border-bottom: solid 70px transparent;
  filter: drop-shadow(0 15px 10px rgba(0, 0, 0, 0.25));
}

.container {
  background: #f6f6f6;
  height: 32em;
  /* padding: 1em; */
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 2.5em 0.2em 2.5em 0.2em;
  width: 100%;
}

.display-result {
  letter-spacing: 0.1em;
  font-size: 1.3em;
  box-sizing: border-box;
  align-items: flex-end;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1em;
  padding-top: 6.7em;
  padding-bottom: 1em;
}

.display h2,
h3 {
  margin: 0;
}

.display h3 {
  font-size: 1.2em;
  color: #888788;
}

.display h2 {
  font-size: 2em;
}

.allButtons {
  height: auto;
  width: 100%;
  display: flex;
  /* background: blue; */
}

.specialsNumbers {
  /* background: palegreen; */
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
}

.specialButton {
  background: #e7e7e7;
  border-bottom: 1px solid #ffc75f;
}

.numberButton {
  background: #f5f5f5;
  border: 2px solid black;
}

.operatorsContainer {
  display: flex;
  flex-direction: column;
}

.operatorButton {
  background: #3a4a59;
  color: white;
}

.operatorButton:nth-child(5) {
  background: #debe12;
  color: white;
}

.button {
  width: 5em;
  height: 3.5em;
  /* background: #f5f5f5; */
  border: none;
  font-size: 1.1em;
}

.button:focus {
  border: none;
  outline: none;
  user-select: none;
}

.button:active {
  background: rgba(0, 0, 0, 0.1);
}

.button:hover {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
