<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>C:/NEW_BOOTCAMP/Lambda/CIRRICULUMN/Lambda-Student-Resource-Site/WEEKS/13-web-tools/regexr-master/regexr-master/dev/sass/views</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="4" class="header-row"><b>Folders</b></td></tr>
<tr><td><a href="../right.html" target="rframe">&lt;Go Back&gt;</a></td><td>&nbsp;<a href="tools/right.html" target="rframe">tools</a></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th></tr>
<tr><td><a href="ad.scss" target="_parent">ad.scss</a>&nbsp;</td><td><a href="expression.scss" target="_parent">expression.scss</a>&nbsp;</td><td><a href="share.scss" target="_parent">share.scss</a>&nbsp;</td><td><a href="text.scss" target="_parent">text.scss</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="community.scss" target="_parent">community.scss</a>&nbsp;</td><td><a href="header.scss" target="_parent">header.scss</a>&nbsp;</td><td><a href="sidebar.scss" target="_parent">sidebar.scss</a>&nbsp;</td><td><a href="tools.scss" target="_parent">tools.scss</a>&nbsp;</td></tr>
<tr><td><a href="doc.scss" target="_parent">doc.scss</a>&nbsp;</td><td></td><td></td><td></td></tr>
</table>

<p class="summary-style">
Folders:  2<br>
Files: 9<br>
Size of all files: 21371 KB</p>

</body>
</html>